@model Deal

@{
    ViewBag.Title = "Details";
}


<fieldset>
 <legend>Deal Details</legend>
	<p>
        <strong>Description: </strong>
         @Html.DisplayFor(model => model.Description)
    </p>
    <hr />
	<p>
        <strong>Provider: </strong>
         @Html.DisplayFor(model => model.Provider.Name)
    </p>
    @if (!string.IsNullOrWhiteSpace(Model.Notes)){
	<p>
        <strong>Notes: </strong>
         @Html.DisplayFor(model => model.Notes)
    </p>
    }
	<p>
        <strong>Created Date: </strong>
         @Html.DisplayFor(model => model.CreatedDate)
    </p>
    <p>
        <strong>Expiry Date: </strong>
         @Html.DisplayFor(model => model.ExpiryDate)
    </p>

</fieldset>
<p>

    @Html.ActionLink("Edit", "Edit", new { id=Model.DealID }, new { @class = "btn"}) &nbsp;
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
</p>
