@model Deal

   <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.HiddenFor(model => model.DealID)

        <div class="clearfix">
            @Html.LabelFor(model => model.Description)
        
        <div class="input">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
		</div>


        <div class="clearfix">
            @Html.LabelFor(model => model.ImageURL)
        
        <div class="input">
            @Html.EditorFor(model => model.ImageURL)
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>
		</div>


       <div class="clearfix">
            @Html.LabelFor(model => model.PurchaseTypeID, "Category")
        
        <div class="input">
            @Html.DropDownList("CategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.PurchaseTypeID)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.ProviderID, "Provider")
        
        <div class="input">
            @Html.DropDownList("ProviderID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProviderID)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Notes)
        
        <div class="input">
            @Html.TextAreaFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.CreatedDate)
        
        <div class="input">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.ExpiryDate)
        
        <div class="input">
            @Html.EditorFor(model => model.ExpiryDate)
            @Html.ValidationMessageFor(model => model.ExpiryDate)
        </div>
		</div>


		<div class="actions">
            <input type="submit" class="btn primary" value="Save" />
            @if (Model!=null && Model.DealID > 0)
            {   <text>
                @Html.ActionLink("Delete", "Delete", new { id = Model.DealID }, new { @class = "btn" })
                </text>
            }
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>